<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    function update(tag) {
         var value = parseFloat(tag.value);
                if (value > 40.0) {
                    alert("No zone can get more than 40% of the budget! Resetting to 40%")
                    tag.value = 40.0
                }

        var total = 0;
        var all_pct_tags = document.getElementsByClassName("pct")
        for (var i = 0; i < all_pct_tags.length; i++) {
            if (parseFloat(all_pct_tags[i].value))
                total += parseFloat(all_pct_tags[i].value)
        }
        document.getElementById("total").value = total
    }

    function verifyTotal(){
        var total = parseFloat(document.getElementById("total").value);
        if (total == 100)
            return true
        else {
            alert("The total of all percentages must be 100!")
            return false
        }
    }
</script>
<h1>Enter percentage allocations to branches</h1>
<form action="" method="get">
    <table>
        <tr>
            <th>Branch name</th>
            <th>Allocated percent</th>
        </tr>
        <tr>
            <td>East Coast</td>
            <td><input class="pct" type="text" name="ec" value="0.0" onchange="return update(this)"></td>
        </tr>
        <tr>
            <td>West Coast</td>
            <td><input class="pct" type="text" name="wc" value="0.0" onchange="return update(this)"></td>
        </tr>
        <tr>
            <td>South West</td>
            <td><input class="pct" type="text" name="sw" value="0.0" onchange="return update(this)"></td>
        </tr>
        <tr>
            <td>East Coast</td>
            <td><input class="pct" type="text" name="ec" value="0.0" onchange="return update(this)"></td>
        </tr>
        <tr>
            <td>South East</td>
            <td><input class="pct" type="text" name="se" value="0.0" onchange="return update(this)"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input id="total" type="text" name="ec" value="0.0" readonly></td>
        </tr>
    </table>
    <input type="submit" name="submit" value="Process Percentages" onclick="return verifyTotal()">
</form>
</body>
</html>