<!DOCTYPE html>
<html>
<head>
    <title>Digital Clock</title>
    <style> /* The format for the clock object */
    #clock { /* for an id="clock" property in a tag */
        font: bold 24px sans-serif; /* font */
        background: #ddf; /* background color of the clock */
        padding: 15px; /* space around the clock */
        border: solid black 2px; /* border */
        border-radius: 10px; /* will round corners of the clock object */
    }
    </style>
</head>
<body>
<h1>A Constantly Updating Clock</h1>
<!-- Create a space where we can add the clock -->
<!-- Note the id="clock". There can be only one tag with id="clock" -->
<!-- The actual time will be added by the JavaScript script -->
<span id="clock"></span>
<script>
    // Define a function to display the current time
    function displayTime() {
        let clock = document.querySelector("#clock"); // Get element with id="clock"
        let now = new Date(); // Get current time
        clock.textContent = now.toLocaleTimeString(); // Display time in the clock
    }

    displayTime() // Display the time right away by calling the function
    setInterval(displayTime, 1000); // And then update it every second. Call the function again every second
</script>
</body>
</html>